<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Meet Us</title>
  <link rel="stylesheet" href="/stylesheets/meetus.css" type="text/css" />
  <!-- <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' /> -->
  <%- include ("../partials/nav2.ejs") %>
</head>
<body>
  <h1 class="title">Meet us</h1>
  <div>
    <p class="headline">
      Members of Parenthood Ventures' community of early stage ParentTech startups include...
    </p>
  </div>


  <div class='main-grid'>

    <% for (let item in company) { %>
    <div class='companies-container'>
        <div class="company-logo">
          <a class="company-logo"href= <%= company[item].company_url %> target="_blank" >
            <img src=<%= company[item].company_logo_url %> alt= <%= company[item].company_name %> style="width:auto;">
          </a>
        </div>
      <!-- <footer>
        <div class="company-details">
          <a href= <%= company[item].company_url %> target="_blank" ><%= company[item].company_name %></a>
        </div>
      </footer> -->
    </div>
    <% } %>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
